body {
    margin: 5px;
}

button {
    display: inline-block;
}

.selected {
    background-color: rgb(128, 128,128);
}

.completed {
    text-decoration: line-through;
}

#section-botoes {
    margin-top: 2%;
}
