body {
    font-size: 1.3em;
    margin: 0 3%;
}
h1 {
    font-size: 1.6em;
}
h2 {

}

img {
    max-width: 100%;
    
}

figure {
    margin: 0;
    padding: 2% 0%;
}

@media screen and (min-width: 800px){
    body {
        background-color: red;
        font-size: 2em;
        margin: 0 1%;
    }

    figure {
        float: left;
        width: 40%;
        margin-left: 7%;
    }
}

@media screen and (min-width: 1300px){
    body {
        background-color: blue;
        font-size: 2.3em;
        margin: 0 2%;
        max-width: 90%;
    }
}